@import 'bourbon';
@import 'partials/_base.scss';

* {
	padding: 0;
  	margin: 0;
  	outline: none;
}
html{
	font-size: 10px;
}
body{
  	font-family: $font-base, Helvetica, Arial, sans-serif;
  	font-size: 16px;
  	line-height: 1.4;
  	color: $color-text;
  	background-color: #fff;
}
html, body {
  	height: 100%;
}
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}
.page{
	min-height: 100%;
	height: auto;
	margin-bottom: -$footer-height;
}

.icon{
	fill: currentColor;
	width: 30px;
	height: 30px;
}

.breadcrumb{
	background: none;
	padding: 0px;
	color: #aaa;
	font-size: 14px;

	a{
		color: #777777;
		text-decoration: none;
		
		&:hover{
			color: #aaa;
		}
	}
	& > li + li:before{
		content: '\f105';
		font-family: 'FontAwesome';
		font-size: 14px;
	}
}

.pagination-wrap{
	text-align: center;
}
.pagination {
	display: inline-block;
	border-top: 1px solid #c1c2c2;
	border-bottom: 1px solid #c1c2c2;

	li{
		display: inline;

		a{
			position: relative;
			float: left;
			padding: 6px 12px;
			margin-left: -1px;
			color: #c1c2c2;
			text-decoration: none;
		}
		a:hover,
		a:focus,
		&.active a{
			z-index: 2;
			color: #fff;
			background-color: $color-primary;
		}
		&.active a:hover{
			cursor: default;
		}
		&.disabled a,
		&.disabled a:hover{
			color: #777;
			cursor: not-allowed;
			background: #ddd;
		}
	}
}

.btn-hamburger {
	padding: 20px 15px;
	display: inline-block;
	cursor: pointer;
	transition-property: opacity, filter;
	transition-duration: 0.15s;
	transition-timing-function: linear;
	font: inherit;
	color: inherit;
	text-transform: none;
	background-color: transparent;
	border: 0;
	margin: 0;
	overflow: visible;
	line-height: 0;

	.hamburger-box {
		width: 40px;
		height: 25px;
		display: inline-block;
		position: relative; 
	}
	.hamburger-inner {
		display: block;
		top: auto;
		bottom: 0;
		margin-top: -2px; 
		transition-duration: 0.13s;
		transition-delay: 0.13s;
		transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); 
	}
	.hamburger-inner, 
	.hamburger-inner::before, 
	.hamburger-inner::after {
		width: 40px;
		height: 4px;
		background-color: $color-primary;
		border-radius: 4px;
		position: absolute;
		transition-property: transform;
		transition-duration: 0.15s;
		transition-timing-function: ease; 
	}
	.hamburger-inner::before, 
	.hamburger-inner::after {
		content: "";
		display: block; 
	}
	.hamburger-inner::before {
		top: -10px; 
		transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); 
	}
	.hamburger-inner::after {
		bottom: -10px; 
		top: -20px;
		transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; 
	}

	&.active{
		.hamburger-inner {
			transform: translate3d(0, -10px, 0) rotate(-45deg);
			transition-delay: 0.22s;
			transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); 
		}
		.hamburger-inner::after {
			top: 0;
			opacity: 0;
			transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear; 
		}
		 .hamburger-inner::before {
			top: 0;
			transform: rotate(-90deg);
			transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); 
		}
	}
}

.btn{
	font-family: $font-special-two;
	font-size: 16px;
	border: 1px solid #c1c2c2;
	color: #c1c2c2;
	background: none;
	padding: 10px 20px;
	-webkit-transition: color 0.3s, background 0.3s;
	-o-transition: color 0.3s, background 0.3s;
	transition: color 0.3s, background 0.3s;
	
	&:hover{
		color: #fff;
		background: #c1c2c2;
	}
	&.btn-primary{
		background: $color-primary;
		border: none;
		border-radius: 30px;
		
		font-weight: 700;
		font-size: 18px;
		padding: 20px 30px;
		line-height: 1;
		color: #fff;
		text-transform: uppercase;
		&:hover{
			background: darken($color-primary, 10%);
		}
	}
}


// =======================================
// HEADER
// =======================================
header{
	height: 90px;
	background: #fff;
	position: relative;
	z-index: 1;
	box-shadow: 0px 1px 3px 1px rgba(#ccc, 0.8);
	
	.container{
		position: relative;
	}
	.logo{
		width: 140px;
		float: left;
		padding: 15px 0;
		img{
			max-height: 60px;
		}
	}
	.header-main{
		width: calc(100% - 140px);
		float: left;
	}
	.nav{
		width: calc(100% - 500px);
		float: right;
	}
	.header-info{
		width: 500px;
		float: right;
		@include clearfix;
	}
}

.header-contacts{
	width: calc(100% - 180px);
	float: left;
	overflow: hidden;
	border-right: 1px solid #eee;
	
	.phones{
		height: 90px;
		line-height: 90px;
		padding: 0 15px;
		font-family: $font-special-two;
		font-size: em(18px);
		font-weight: 700;
		color: $color-primary;
		cursor: pointer;
		position: relative;

		span{
			display: inline-block;
			margin: 0 3px;
		}
		&:after{
			content: '\f0d7';
			font-family: "FontAwesome";
			font-size: 15px;
			position: absolute;
			top: 50%;
			right: 15px;
			transform: translateY(-50%);
			transition: transform 0.3s;
		}
		&.panel-open{
			background: #f8f6f9;
			&:after{
				transform: translateY(-50%) rotate(180deg);
			}
		}
	}
}

.header-links{
	width: 180px;
	float: right;
	@include clearfix;

	.link_item{
		display: block;
		width: 33.33%;
		float: left;
		font-size: 30px;
		text-align: center;
		height: 90px;
		line-height: 93px;

		.link_item-icon{
			fill: #bdbdbd;
			width: 1em;
			height: 1em;
		}
		&:hover{
			background: $color-primary;

			.link_item-icon{
				fill: #fff;
			}
			&:nth-child(3){
				.link_item-icon path{
					fill: #bdbdbd;
				}	
			}	
		}
		&:nth-child(2){
			background: $color-primary;

			.link_item-icon{
				fill: #fff;
			}
		}
		&:nth-child(3){
			.link_item-icon path{
				fill: #fff;
			}	
		}

	}
}

.contacts-panel{
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 10;
	height: 90px;
	background: #fff;
	box-shadow: 0px 1px 3px 1px rgba(#ccc, 0.8);
	padding: 20px;

	&.open{
		display: block;
	}
}

.nav{
	font-size: 16px;
	font-family: $font-special-two;
	
	.nav-toggle{
		display: none;
	}
	.nav-list{
		list-style: none;
		margin: 0;
		@include clearfix;

		.nav_submenu{
			display: none;
		}
	}
	.nav_item{
		width: 16.667%;
		float: left;
		&.active{
			.nav_link{
				background: #f8f6f9;
				color: $color-primary;
			}
		}
		&:last-child .nav-link{
			margin-right: 0;
		}
	}
	.nav_link{
		display: block;
		height: 90px;
		line-height: 90px;
		padding: 0 5px;
		color: #848484;
		border-left: 1px solid #eeeeee;
		border-right: 1px solid #eeeeee;
		margin-right: -1px;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		&:hover{
			background: #f8f6f9;
			color: $color-primary;
		}
	}
}

// =======================================
// MAIN
// =======================================
main:after{
	content: '';
	display: block;
}

.main-banner{
	background: $color-third;
	position: relative;
	padding: 100px 0 150px 0;
	overflow: hidden;

	.banner-content{
		max-width: 500px;
		color: #6c7a89;
		font-size: em(36px);
		font-weight: 300;

		.btn{
			margin-top: 40px;
		}
	}
	.banner_subtitle{
		margin: 0 0 10px 0;
		font-size: em(24px);
		color: $color-primary;
		text-transform: uppercase;
	}
	.banner_title{
		margin: 0 0 30px 0;
		color: #000;
		font-size: em(32px);
		font-weight: 500;
		text-transform: uppercase;
		line-height: 1;
	}
	p{
		line-height: 1.2;
		margin-bottom: 30px;
		strong{
			color: $color-secondary;
			font-weight: 500;
		}
	}
}
.banner-sliders_item{
	position: absolute;
	background-size: cover;

	&.smartphone{
		bottom: 150px;
		right: 530px;
		width: 260px;
		height: 500px;
		z-index: 1;
		padding: 40px 15px 40px 15px;
		background: url(../images/smartphone-bg.svg) center center no-repeat;
		border-radius: 25px;
		box-shadow: 0px 0px 30px -3px rgba(#000, 0.4);
		z-index: 2;
	}
	&.tablet{
		bottom: 150px;
		right: -5px;
		width: 690px;
		height: 615px;
		padding: 40px 0px 40px 80px;
		background: url(../images/tablet-bg.svg) center center no-repeat;
		border-top-left-radius: 40px;
		border-bottom-left-radius: 40px;
		box-shadow: 20px 20px 40px -2px rgba(#000, 0.4);
		z-index: 1;
	}

	.slider_content{
		background: #fff;
		height: 100%;
		position: relative;
		overflow: hidden;
		visibility: hidden;
	}
	.owl-nav{
		padding: 0;
		margin: 0;
	}
	.owl-dots{
		margin: 0;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 5px;
		line-height: 1;

		.owl-dot{
			&.active span{
				background: $color-primary;
			}
		}
	}
}

.block-title{
	text-align: center;
	font-size: em(36px);
	font-weight: 500;
	line-height: 1;
	color: #000;
	margin: 0 0 30px 0;
	padding: 30px 0;
}

.section{
	padding: 40px 0 70px 0;
}
.section-bottom{
	text-align: center;
	margin-top: 40px;
}

.main-services{
	display: flex;
	justify-content: space-between;
}

.mservice_item{
	padding: 0 30px;
	margin-bottom: 30px;
	width: 25%;

	a{
		display: block;
		text-align: center;
		text-decoration: none;
		color: #000;
		font-family: $font-special-two;
		font-size: em(24px);
		font-weight: 300;

		&:hover{
			.mservice_item-image{
				box-shadow: 0px 5px 20px -5px rgba(#000, 0.4);
			}
			.mservice_item-title{
				color: #636683;
				span{
					color: #000;
				}
			}
		}
	}
	.mservice_item-image{
		margin-bottom: 40px;
		transition: box-shadow 0.3s;
		img{
			display: block;
			max-width: 100%;
			height: auto;
		}
	}
	.mservice_item-title{
		transition: color 0.3s;
		span{
			transition: color 0.2s;
		}
		& > span{
			font-weight: 500;
		}
	}
}

.callback-section{
	padding: 40px 0 60px 0;
	background: $color-primary;
	color: #fff;
	position: relative;

    &:after{
    	content: "";
    	position: absolute;
    	z-index: -1;
    	bottom: 3px;
    	left: 10%;
    	right: 10%;
    	width: 80%;
    	height: 30%;

    	box-shadow: 0 0 40px rgba(#000 ,0.8);
    	border-radius: 100%;
    }
	.callback-section_title{
		text-align: center;
		font-size: em(36px);
		font-weight: 500;
		margin: 0 0 30px 0;
	}
	.callback-section_form{
		max-width: 960px;
		margin: 0 auto;
		@include clearfix;
	}
	.form-group{
		width: 70%;
		float: left;
		margin: 0;
		@include clearfix;

		.form-item{
			position: relative;
			width: 48%;
			margin-right: 2%;
			float: left;

			&:after{
				content: '\002a';
				font-family: $font-special;
				display: inline-block;
				position: absolute;
				top: 18px;
				right: 10px;
				line-height: 1;
				color: $color-primary;
				font-size: 20px;
				font-weight: 700;
			}
		}
	}
	.btn{
		width: 30%;
		float: left;
		height: 50px;
		font-family: $font-special;
		font-size: 16px;
		color: #fff;
		border: 2px solid #fff;
		border-radius: 5px;
		&:hover{
			background: #fff;
			color: #757575;
		}
	}

	.form-input{
		border: none;
		height: 50px;
		font-size: 16px;
		font-family: $font-special;
		color: #757575;
		padding: 10px 20px;

	}
}

.clients{
	.clients-slider{
		padding: 0 50px;
		height: 200px;
		visibility: hidden;
		overflow: hidden;
	}
	.client_item{
		border: 1px solid #ececec;
		display: table;
		width: 100%;
		text-align: center;

		span{
			display: table-cell;
			height: 160px;
			padding: 10px 20px;
			vertical-align: middle;
		}
	}
	.owl-nav{
		margin: 0;
		[class*='owl-']{
			position: absolute;
			top: 50%;
			width: 20px;
			height: 40px;
			margin: -20px 0 0 0;
			padding: 0;
			background-color: transparent;
			background-image: url(../images/slider-controls.svg);
			background-size: 40px 40px;
		}
		.owl-next{
			right: 0;
			background-position: -20px 0;
		}
		.owl-prev{
			left: 0;
			background-position: 0 0;
		}
	}
	.owl-nav.disabled + .owl-dots{
		margin-top: 30px;
	}
	.owl-dots{
		.owl-dot{
			&.active span{
				background: $color-primary;
			}
		}
	}
}

.main-about{
	padding: 60px 0;
	background: $color-third;
}
.text-block{
	line-height: 1.5;
	font-family: $font-special;
	margin-bottom: 30px;

	p{
		margin-bottom: 25px;
	}
	.corner-line{
		position: relative;
		&:after{
			content: '';
			display: block;
			width: 50px;
			height: 4px;
			background: $color-text;
			margin-top: 15px;
		}
	}
	h1,h2,h3,h4,h5,h6{
		margin: 20px 0 40px 0;
		position: relative;
		&:after{
			content: '';
			display: block;
			width: 50px;
			height: 4px;
			background: $color-text;
			margin-top: 15px;
		}
	}
}

// =======================================
// INNER PAGE
// =======================================
.page-top{
	padding: 40px 0 60px 0;
	background: $color-third;
	overflow-x: hidden;
}
.page-title{
	color: $color-primary;
	margin: 0 0 40px 0;
	padding: 20px 0;
	font-size: em(36px);
}
.pages-nav{
	margin-bottom: 30px;
	font-family: $font-special-two;
	font-size: em(16px);
	max-width: 150px;
	ul{
		list-style: none;
		margin: 0;
	}
	li{
		a{
			display: block;
			color: #c1c2c2;
			padding: 15px 5px;
			text-align: center;
			text-decoration: none;
			border-bottom: 1px solid #c1c2c2;
			line-height: 1;
		}
		& a:hover,
		&.active a{
			background: $color-primary;
			color: #fff;
		}
	}
}

.digits-wrap{
	.digit_item{
		position: relative;
		margin-bottom: 40px;
		padding-bottom: 40px;
		font-size: em(21px);
		
		&:before{
			content: '';
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 500%;
			height: 1px;
			background: #454545;
		}
		&:after{
			content: '';
			display: block;
			position: absolute;
			bottom: -2px;
			left: 0;
			height: 5px;
			width: 100px;
			background: #454545;
		}
		&:nth-child(odd){
			color: $color-primary;
		}
	}
	.digit_item-count{
		font-size: 3.4em;
		font-weight: 900;
		display: inline-block;
		line-height: 1;
		margin-right: 5px;
	}
	.digit_item-title{
		font-family: $font-special-two;
		display: inline-block;
		vertical-align: top;
		margin-top: 5px;
		text-transform: uppercase;
	}
}

.advantage_item{
	margin-bottom: 30px;
	@include clearfix;

	.advantage_item-icon{
		width: 110px;
		float: left;
	}
	.advantage_item-description{
		width: calc(100% - 110px);
		float: left;
		font-family: $font-special;
		font-size: em(16px);
		color: #424649;
		padding: 0 0 0 30px;

		h4{
			margin: 0 0 10px 0;
			font-size: em(20px);
			color: $color-secondary;
		}
	}
}

.team-section{
	background: $color-third;
}
.team_item{
	font-size: em(18px);
	margin-bottom: 30px;

	&:nth-child(1),
	&:nth-child(4),
	&:nth-child(5){
		color: $color-primary;
	}

	.team_item-block{
		position: relative;
		border-bottom: 1px solid #454545;
		padding-bottom: 10px;
		&:hover{
			.member{
				opacity: 1;
			}
		}

		&:after{
			content: '';
			display: block;
			position: absolute;
			bottom: -3px;
			left: 0;
			width: 100px;
			height: 5px;
			background: #454545;
		}
	}
	.team_item-count{
		margin: 0;
		font-size: 5.5em;
		font-weight: 900;
		line-height: 1;
	}
	.team_item-title{
		margin: 0;
		font-family: $font-special-two;
		font-weight: bold;
		text-transform: uppercase;
		padding: 10px 0;
	}
	.team_item-members{
		padding: 20px 0;
		.member{
			opacity: 0.2;
			display: inline-block;
			height: 40px;
			width: 20px;
			background: url(../images/human-icon.svg) center center no-repeat;
			background-size: contain;
			margin-right: 5px;
			transition: opacity 0.5s;
		}
	}
}

.sertificates-slider{
	padding: 0 50px;
	height: 200px;
	visibility: hidden;
	overflow: hidden;

	.owl-nav{
		margin: 0;
		[class*='owl-']{
			position: absolute;
			top: 50%;
			width: 20px;
			height: 40px;
			margin: -20px 0 0 0;
			padding: 0;
			background-color: transparent;
			background-image: url(../images/slider-controls.svg);
			background-size: 40px 40px;
		}
		.owl-next{
			right: 0;
			background-position: -20px 0;
		}
		.owl-prev{
			left: 0;
			background-position: 0 0;
		}
	}
	.owl-nav.disabled + .owl-dots{
		margin-top: 30px;
	}
	.owl-dots{
		.owl-dot{
			&.active span{
				background: $color-primary;
			}
		}
	}
}
.sertificate_item{
	max-width: 200px;
	margin: 0 auto;
	padding: 0 0 15px 0;

	a{
		display: block;
		color: $color-text;
		text-decoration: none;
		width: 100%;
		height: 240px;
		background: url(../images/sertificate-bg.svg) center center no-repeat;
		background-size: 100%;
		font-size: em(14px);
		transition: all 0.3s;

		&:hover{
			color: #fff;
			box-shadow: 0px 10px 15px -7px rgba(#000, 0.4);
			background-image: url(../images/sertificate-active-bg.svg);
		}
		&:focus{
			outline: none;
		}
	}
	.sertificate_item-caption{
		padding: 15px;
		max-width: 80%;
		font-weight: 600;
		span{
			display: block;
		}
	}
	.sertificate_item-name{
		font-weight: 400;
	}
}
.sertificate_item-content{
	display: none;
	max-width: 800px;
	padding: 0;
	margin: 30px;
}

.contacts-wrap{
	.contacts_info{
		position: relative;
		margin-bottom: 30px;
		font-family: $font-special;

		&:after{
			content: '';
			display: block;
			width: 60px;
			height: 1px;
			margin-top: 20px;
			background: $color-primary;
		}
		&:last-child:after{
			display: none;
		}
		h4{
			font-size: em(18px);
			margin: 0 0 10px 0;
			font-weight: 400;
		}
	}
}

.services-wrap{
	margin-left: -5px;
	margin-right: -5px;
	@include clearfix;

	.service_item{
		width: 33.33%;
		padding: 0 5px;
		float: left;
		font-size: em(22px);
		font-weight: 500;
		margin-bottom: 10px;

		a{
			display: block;
			text-decoration: none;
			position: relative;
			height: 265px;
			color: #fff;
			background: $color-primary;
			transition: background 0.3s;
		}
		.service_item-title{
			position: absolute;
			top: 50%;
			left: 40px;
			max-width: 200px;
			transform: translateY(-50%);
		}
		img{
			max-width: 160px;
			position: absolute;
			top: 50%;
			right: 30px;
			transform: translateY(-50%);

		}
		&:nth-child(1){
			a{
				background: #7a3f13;
				&:hover{
					background: darken(#7a3f13, 10%);
				}
			}
		}
		&:nth-child(2){
			a{
				background: #07c384;
				&:hover{
					background: darken(#07c384, 10%);
				}
			}
		}
		&:nth-child(3){
			a{
				background: #0085a9;
				&:hover{
					background: darken(#0085a9, 10%);
				}
			}
		}
		&:nth-child(4){
			a{
				background: #f68921;
				&:hover{
					background: darken(#f68921, 10%);
				}
			}
		}
		&:nth-child(5){
			a{
				background: #fb4215;
				&:hover{
					background: darken(#fb4215, 10%);
				}
			}
		}
		&:nth-child(6){
			a{
				background: #182d96;
				&:hover{
					background: darken(#182d96, 10%);
				}
			}
		}
	}
}

.vacancy_item{
	.vacancy_item-icon{
		span{
			display: block;
			width: 100px;
			height: 100px;
			background: $color-text;
			border-radius: 50%;
			color: #fff;
			text-align: center;
			line-height: 95px;
			font-size: 60px;
			font-weight: 500;
		}
	}
	&:nth-child(2n),
	&:nth-child(3n){
		.vacancy_item-icon span{
			background: $color-primary;
		}
	}
	&:nth-child(4n){
		.vacancy_item-icon span{
			background: $color-text;
		}	
	}
}
.review_item{
	.review_item-icon{
		span{
			display: block;
			width: 100%;
			max-width: 100px;
			max-height: 100px;
			border-radius: 50%;
			overflow: hidden;
		}
	}
}

.info-block{
	@include clearfix;
	position: relative;
	margin-bottom: 70px;

	.info-block_image{
		float: left;
		width: 100px;
	}
	.info-block_description{
		width: calc(100% - 100px);
		float: left;
		padding: 0 30px 0 50px;
		font-family: $font-special;
		position: relative;
		&:after{
			content: '';
			display: block;
			width: 	50px;
			height: 5px;
			background: $color-text;
			margin-top: 30px;
		}
		a{
			color: $color-primary;
		}
	}
	.info-block_title{
		margin: 0 0 20px 0;
		font-size: em(24px);
		font-weight: 500;
		font-family: $font-base;
	}
	.info-block_content{
		margin-bottom: 40px;
	}
	.info-block_bottom{
		color: $color-primary;
	}
}

// =======================================
// FOOTER
// =======================================
footer, main:after{
	height: $footer-height;
}
.footer-main{
	height: calc(#{$footer-height} - 130px);
	position: relative;
	background: url(../images/contacts-section-bg.jpg) center center no-repeat;
	background-size: cover;
	color: #fff;
	padding: 80px 0;

	&:after{
		content: '';
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		background: rgba(#000, 0.65);
	}
	& > .container{
		position: relative;
		z-index: 1;
	}
	.fcontacts-title{
		margin: 0 0 40px 0;
		text-transform: uppercase;
		font-family: $font-special;
		font-size: em(24px);
		font-weight: 400;
	}
}
.fcontacts-wrap{
	@include clearfix;
	font-family: $font-special;

	.fcontacts-block{
		width: 40%;
		float: left;
		&:first-child{
			margin-right: 20%;
		}
	}
	.c-info{
		font-size: em(14px);
		margin-bottom: 25px;
		padding-bottom: 25px;
		position: relative;
		color: #bdbdbd;

		&:last-child{
			margin-bottom: 0;
			&:after{
				display: none;
			}
		}

		&:after{
			content: '';
			display: block;
			width: 60px;
			height: 2px;
			background: #fb4215;
			position: absolute;
			top: 100%;
			left: 0;
		}
		h4{
			margin: 0 0 15px 0;
			text-transform: uppercase;
			color: #fff;
			font-size: 1em;
			font-weight: 400;
		}
		p{
			margin-bottom: 0;
		}
	}
}
.fcontacts-form{
	@include clearfix;

	.form-group{
		margin: 0 ;
		width: 49%;
		float: left;

		&:nth-child(odd){
			margin-right: 2%;
		}
		span{
			font-size: 12px;
			padding: 20px 0;
			display: inline-block;
		}
	}
	.form-item{
		margin-bottom: 15px;
		position: relative;
		&.required{
			&:after{
				content: '\002a';
				font-family: $font-special;
				display: inline-block;
				position: absolute;
				top: 18px;
				right: 15px;
				line-height: 1;
				color: #fb4215;
				font-size: 20px;
				font-weight: 700;
			}
		}
	}
	.form-input{
		height: 50px;
		background: none;
		color: #fff;
		padding: 15px 20px;
		font-family: $font-special;
		font-size: 14px;

		&::placeholder{
			color: #fff;
		}
		&:focus{
			border-color: $color-primary;
		}
	}
	select.form-input option{
		color: #000;
	}
	textarea.form-input{
		height: 150px;
	}
	.btn{
		width: 100%;
		padding: 15px 20px;
		background: $color-primary;
		border: none;
		border-radius: 5px;
		color: #fff;
		font-family: $font-special;
		font-size: 18px;
		font-weight: 500;
		&:hover{
			background: darken($color-primary, 15%);
		}
	}
}
.footer-nav{
	font-family: $font-special;
	font-size: em(16px);
	padding: 10px 0;

	ul{
		list-style: none;
		margin: 0;
		@include clearfix;

		li{
			width: 25%;
			float: left;
			margin-bottom: 10px;
		}
		a{
			color: #848484;
		}
	}
}

.copyright{
	padding: 20px 0;
	color: #000000;
	font-family: $font-special-two;
}
.payments{
	padding: 10px 0;
	@include clearfix;
	.payment_item{
		width: 33.33%;
		float: left;
		height: 50px;
		background-size: 80%;
		background-repeat: no-repeat;
		background-position: center center;
		
		&.paybox{
			background-image: url(../images/paybox-logo.png);
		}
		&.visa{
			background-image: url(../images/visa-logo.png);
		}
		&.mastercard{
			background-image: url(../images/mastercard-logo.png);
		}
	}
}
.support{
	img{
		margin: 0 auto;
	}
}
.footer-bottom{
	height: 130px;
	background: #fff;
	padding: 30px 0;
}



// =============================================================
// =============================================================
// MEDIA QUERIES
// =============================================================
// =============================================================
@media only screen and (max-width : 480px) {
	html, body{
		height: auto;
	}
	.page{
		margin-bottom: 0;
	}

	// header
	// ====================================
	header{
		height: auto;

		.container{
			padding: 0;
		}
		.logo{
			width: 100%;
			float: none;
			padding: 15px 15px;

			img{
				margin: 0 auto;
			}
		}
		.header-main{
			width: 100%;
			float: none;
		}
		.nav,
		.header-info{
			width: 100%;
			float: none;
		}
		.header-info{
			border: 1px solid #eee;
			border-left: none;
			border-right: none;
		}
	}
	.header-contacts{
		width: 100%;
		float: none;
		position: relative;
		border-bottom: 1px solid #eee;
		overflow: visible;

		.phones{
			height: 50px;
			line-height: 50px;
			padding: 0 20px;
			font-size: em(15px);
			text-align: center;
			span{
				margin: 0 5px;
			}
		}
	}
	.header-links{
		width: 100%;
		float: none;

		.link_item{
			font-size: 25px;
			height: 50px;
			line-height: 53px;
		}
	}
	.nav{
		font-size: em(13px);

		.nav-toggle{
			display: inline-block;
		}
		.nav-list{
			display: none;
		}
		.nav_item{
			width: 100%;
			float: none;
		}
		.nav_link{
			height: 50px;
			line-height: 50px;
			margin: 0;
			border: 1px solid #eee;
			margin-bottom: -1px;
		}
	}

	// footer
	// ====================================
	footer, main:after{
		height: auto;
	}
	.footer-main{
		height: auto;
		padding: 40px 0 20px 0;
		.fcontacts-title{
			font-size: em(20px);
		}
	}
	.fcontacts-wrap{
		margin-bottom: 30px;
		.fcontacts-block{
			width: 50%;
			float: left;
			&:first-child{
				margin-right: 0;
				padding-right: 15px;
			}
		}
		.c-info{
			font-size: em(14px);
			margin-bottom: 20px;
			padding-bottom: 15px;
		}
	}
	.fcontacts-form{
		.form-group{
			width: 100%;
			float: none;

			&:nth-child(odd){
				margin-right: 0;
			}
		}
	}
	.footer-nav{
		display: none;
	}
	.footer-bottom{
		height: auto;
		padding: 20px 0;
	}
	.copyright{
		padding: 10px 0;
		text-align: center;
	}
	.payments{
		max-width: 300px;
		margin: 0 auto;
	}

	// main
	// ====================================
	.block-title{
		font-size: em(28px);
		padding: 20px 0;
	}
	.section{
		padding: 20px 0 50px 0;
	}
	
	.main-banner{
		padding: 40px 0 40px 0;

		.banner-content{
			max-width: 100%;
			font-size: em(20px);
			
			.btn{
				margin-top: 0px;
				padding: 15px 20px;
			}
		}
	}
	.banner-sliders_item{
		display: none;
	}

	.main-services{
		display: block;
		@include clearfix;
	}
	.mservice_item{
		padding: 0 15px;
		float: none;
		width: 100%;
		margin-bottom: 40px;

		a{
			font-size: em(24px);
		}
		.mservice_item-image{
			max-width: 300px;
			margin: 0 auto 15px auto;
		}
	}
	.section-bottom{
		margin-top: 20px;
	}

	.callback-section{
		padding: 40px 0 60px 0;
		&:after{
			width: 100%;
			left: 0;
			right: 0;
		}
		.callback-section_title{
			font-size: em(30px);
		}
		.callback-section_form{
			max-width: 500px;
			margin: 0 auto;
		}
		.form-group{
			width: 100%;
			float: none;

			.form-item{
				width: 100%;
				margin: 15px 0;
				float: none;
			}
		}
		.btn{
			width: 100%;
			float: none;
			height: 50px;
		}
	}
	.clients{
		.clients-slider{
			padding: 0;
		}
		.client_item{
			max-width: 160px;
			margin: 0 auto;
		}
	}

	// inner page
	// ====================================
	.pages-nav{
		font-size: em(14px);
		max-width: 100%;
		ul{
			@include clearfix;
		}
		li{
			width: 33.33%;
			float: left;
			a{
				text-align: center;
				display: table;
				width: 100%;
				padding: 0;

				span{
					display: table-cell;
					height: 50px;
					width: 100%;
					padding: 5px;
					vertical-align: middle;
				}
			}
		}
	}
	.page-top{
		padding: 30px 0 40px 0;
	}
	.page-title{
		font-size: em(24px);
		margin-bottom: 20px;
		padding: 15px 0;
	}
	.digits-wrap{
		.digit_item{
			margin-bottom: 20px;
			padding-bottom: 20px;
			font-size: em(15px);
		}
	}
	.advantage_item{
		.advantage_item-icon{
			width: 110px;
			float: none;
			margin: 0 auto 20px auto;			
		}
		.advantage_item-description{
			width: 100%;
			float: none;
			font-size: em(15px);
			padding: 0;
		}
	}
	.team_item{
		font-size: em(15px);
		.team_item-count{
			font-size: 4em;
		}
		.team_item-members{
			display: none;
		}
	}
	.sertificates-slider{
		padding: 0;
	}
	.sertificate_item{
		a{
			background-size: contain;
			height: 165px;
			max-width: 140px;
		}
	}
	.services-wrap{
		margin: 0;
		.service_item{
			width: 100%;
			float: none;
			max-width: 500px;
			margin: 0 auto 10px auto;
			font-size: em(18px);

			a{
				height: 150px;
			}
			.service_item-title{
				left: 15px;
				max-width: 170px;
			}
			img{
				right: 15px;
				max-width: 70px;
			}
		}
	}
	.vacancy_item{
		.vacancy_item-icon{
			display: none;
		}
	}
	.info-block{
		margin-bottom: 40px;

		.info-block_image{
			display: none;
			width: 80px;
			float: none;
		}
		.info-block_description{
			width: 100%;
			padding: 0;
		}
		.info-block_title{
			font-size: em(20px);
		}
		.info-block_content{
			margin-bottom: 30px;
		}
	}

}

@media (min-width: 481px) and (max-width : 767px) {
	.page{
		margin-bottom: 0;
	}
	// header
	// ====================================
	header{
		height: auto;
		.container{
			padding: 0;
		}
		.logo{
			width: 100%;
			float: none;
			padding: 15px 15px;
			img{
				margin: 0 auto;
			}
		}
		.header-main{
			width: 100%;
			float: none;
		}
		.nav,
		.header-info{
			width: 100%;
			float: none;
		}
		.header-info{
			border: 1px solid #eee;
			border-left: none;
			border-right: none;
		}
	}
	.header-contacts{
		width: calc(100% - 180px);
		.phones{
			height: 50px;
			line-height: 50px;
			padding: 0 20px;
			font-size: em(15px);
			text-align: center;
			span{
				margin: 0 5px;
			}
		}
	}
	.header-links{
		width: 180px;

		.link_item{
			font-size: 25px;
			height: 50px;
			line-height: 53px;
		}
	}
	.nav{
		font-size: em(11px);
		.nav_link{
			height: 49px;
			line-height: 50px;
			margin: 0;
		}
	}

	// footer
	// ====================================
	footer, main:after{
		height: auto;
	}
	.footer-main{
		height: auto;
		padding: 40px 0 20px 0;
		.fcontacts-title{
			font-size: em(22px);
		}
	}
	.fcontacts-wrap{
		margin-bottom: 50px;
	}
	.footer-nav{
		font-size: em(15px);
		padding: 10px 0;

		ul{
			list-style: none;
			margin: 0;
			@include clearfix;

			li{
				width: 25%;
				float: left;
				margin-bottom: 10px;
			}
			a{
				color: #848484;
			}
		}
	}
	.footer-bottom{
		height: auto;
		padding: 20px 0;
	}
	.copyright{
		text-align: center;
	}
	.payments{
		max-width: 300px;
		margin: 0 auto;
	}

	// main
	// ====================================
	.main-banner{
		padding: 60px 0 60px 0;

		.banner-content{
			max-width: 100%;
			font-size: em(24px);
			
			.btn{
				margin-top: 0px;
				padding: 15px 20px;
			}
		}
	}
	.banner-sliders_item{
		display: none;
	}
	.main-services{
		display: block;
		@include clearfix;
	}
	.mservice_item{
		padding: 0 15px;
		float: left;
		width: 50%;
		margin-bottom: 40px;

		a{
			font-size: em(24px);
		}
		.mservice_item-image{
			max-width: 350px;
			margin: 0 auto 15px auto;
		}
	}

	.callback-section{
		padding: 40px 0 60px 0;

		.callback-section_title{
			font-size: em(30px);
		}
		.callback-section_form{
			max-width: 500px;
			margin: 0 auto;
		}
		.form-group{
			width: 100%;
			float: none;

			.form-item{
				width: 100%;
				margin: 15px 0;
				float: none;
			}
		}
		.btn{
			width: 100%;
			float: none;
			height: 50px;
		}
	}
	.clients{
		.clients-slider{
			padding: 0;
		}
		.client_item{
			max-width: 160px;
			margin: 0 auto;
		}
	}

	// inner page
	// ====================================
	.pages-nav{
		font-size: em(16px);
		max-width: 100%;
		ul{
			@include clearfix;
		}
		li{
			width: 33.33%;
			float: left;
		}
	}
	.page-title{
		font-size: em(30px);
		margin-bottom: 20px;
		padding: 15px 0;
	}
	.digits-wrap{
		.digit_item{
			margin-bottom: 30px;
			padding-bottom: 30px;
			font-size: em(16px);
		}
	}
	.team_item{
		font-size: em(16px);
		.team_item-count{
			font-size: 5em;
		}
	}
	.sertificates-slider{
		padding: 0;
	}
	.services-wrap{
		margin: 0;

		.service_item{
			width: 100%;
			float: none;
			max-width: 500px;
			margin: 0 auto 10px auto;
			font-size: em(20px);

			a{
				height: 200px;
			}
			.service_item-title{
				left: 20px;
			}
			img{
				right: 20px;
				max-width: 100px;
			}
		}
	}
	.vacancy_item{
		.vacancy_item-icon span{
			width: 80px;
			height: 80px;
			font-size: 45px;
			line-height: 75px;
		}
	}
	.info-block{
		margin-bottom: 40px;

		.info-block_image{
			width: 80px;
		}
		.info-block_description{
			width: calc(100% - 80px);
			padding: 0 0px 0 40px;
		}
		.info-block_content{
			margin-bottom: 30px;
		}
	}

}

@media (min-width: 768px) and (max-width : 991px) {
	.page{
		margin-bottom: 0;
	}
	// header
	// ====================================
	header{
		height: 100px;

		.logo{
			width: 130px;
			padding: 20px 0;
		}
		.header-main{
			width: calc(100% - 130px);
			float: left;
			
		}
		.nav,
		.header-info{
			width: 100%;
			float: none;
		}
		.header-info{
			border-right: 1px solid #eee;
			border-left: 1px solid #eee;
			border-bottom: 1px solid #eee;
		}
	}
	.header-contacts{
		width: calc(100% - 200px);
		.phones{
			height: 50px;
			line-height: 50px;
			padding: 0 20px;
			font-size: em(16px);
			text-align: center;
			span{
				margin: 0 5px;
			}
		}
	}
	.header-links{
		width: 200px;

		.link_item{
			font-size: 25px;
			height: 50px;
			line-height: 53px;
		}
	}
	.nav{
		font-size: em(12px);
		// border-top: 1px solid #eee;
		.nav_link{
			height: 49px;
			line-height: 50px;
		}
	}
	// footer
	// ====================================
	footer, main:after{
		height: auto;
	}
	.footer-main{
		height: auto;
		padding: 40px 0 20px 0;
		.fcontacts-title{
			font-size: em(22px);
		}
	}
	.fcontacts-wrap{
		margin-bottom: 50px;
	}
	.footer-nav{
		font-size: em(15px);
		padding: 10px 0;

		ul{
			list-style: none;
			margin: 0;
			@include clearfix;

			li{
				width: 25%;
				float: left;
				margin-bottom: 10px;
			}
			a{
				color: #848484;
			}
		}
	}
	.footer-bottom{
		height: auto;
		padding: 20px 0;
	}
	.copyright{
		text-align: center;
	}
	.payments{
		max-width: 300px;
		margin: 0 auto;
	}

	// main
	// ====================================
	.main-banner{
		padding: 80px 0 100px 0;

		.banner-content{
			max-width: 550px;
			font-size: em(20px);
			
			.btn{
				margin-top: 0px;
				padding: 15px 20px;
			}
		}
	}
	.banner-sliders_item{
		&.smartphone{
			bottom: 60px;
			right: 50px;
			width: 200px;
			height: 385px;
			padding: 25px 10px 20px 10px;
			background-position: 0 0;
		}
		&.tablet{
			display: none;
		}
	}
	.main-services{
		display: block;
		@include clearfix;
	}
	.mservice_item{
		padding: 0 15px;
		float: left;
		width: 50%;
		margin-bottom: 40px;
		a{
			font-size: em(24px);
		}
		.mservice_item-image{
			max-width: 350px;
			margin: 0 auto 15px auto;
		}
	}

	// inner page
	// ====================================
	.pages-nav{
		font-size: em(16px);
		max-width: 100%;
		ul{
			@include clearfix;
		}
		li{
			width: 33.33%;
			float: left;
		}
	}
	.services-wrap{
		.service_item{
			width: 50%;
			font-size: em(20px);
			a{
				height: 200px;
			}
			.service_item-title{
				left: 20px;
			}
			img{
				right: 20px;
				max-width: 100px;
			}
		}
	}
	
}

@media (min-width: 992px) and (max-width : 1199px) {
	// header
	// ====================================
	.nav{
		font-size: em(12px);
	}
	header{
		.nav{
			width: calc(100% - 320px);
			float: left;
		}
		.header-info{
			width: 320px;
		}
	}
	.header-contacts{
		width: calc(100% - 150px);

		.phones{
			font-size: em(16px);
			span{
				&:first-child{
					display: none;
				}
			}
		}
	}
	.header-links{
		width: 150px;
		.link_item{
			font-size: 25px;
		}
	}
	// footer
	// ====================================
	.fcontacts-wrap{
		.fcontacts-block{
			width: 45%;
			&:first-child{
				margin-right: 10%;
			}
		}
	}
	.footer-nav{
		font-size: em(14px);
		padding: 0;
		ul{
			li{
				width: 33.33%;
			}
		}
	}

	// main
	// ====================================
	.main-banner{
		padding: 80px 0 100px 0;

		.banner-content{
			max-width: 400px;
			font-size: em(25px);
		}
		.banner_subtitle{
			font-size: em(20px);
			color: $color-primary;
			text-transform: uppercase;
		}
		.banner_title{
			font-size: em(30px);
		}
	}
	.banner-sliders_item{
		&.smartphone{
			bottom: 150px;
			right: 380px;
			width: 200px;
			height: 385px;
			padding: 25px 10px 20px 10px;
			background-position: 0 0;
		}
		&.tablet{
			bottom: 150px;
			right: -10px;
			width: 500px;
			height: 445px;
			padding: 20px 0px 20px 40px;
		}
	}
	.mservice_item{
		padding: 0 15px;
		a{
			font-size: em(22px);
		}
		.mservice_item-image{
			margin-bottom: 30px;
		}
	}

	// inner page
	// ====================================
	.services-wrap{
		.service_item{
			font-size: em(18px);
			a{
				height: 200px;
			}
			.service_item-title{
				left: 20px;
			}
			img{
				right: 20px;
				max-width: 100px;
			}
		}
	}
	

}

@media (min-width: 1200px) and (max-width : 1400px) {
	// header
	// ====================================
	.nav{
		font-size: em(14px);
	}
	header{
		.nav{
			width: calc(100% - 450px);
			float: left;
		}
		.header-info{
			width: 450px;
		}
	}
	.header-contacts{
		.phones{
			font-size: em(15px);
		}
	}

	// footer
	// ====================================
	.footer-nav{
		font-size: em(14px);
	}

	// main
	// ====================================
	.banner-sliders_item{

		&.smartphone{
			right: 420px;
		}
		&.tablet{
			right: -40px;
		}
	}

	// inner 
	// ====================================
	.services-wrap{
		.service_item{
			font-size: em(21px);
			.service_item-title{
				left: 30px;
			}
			img{
				max-width: 140px;
			}
		}
	}
}







