{% extends "partials/layout.njk" %}

{% block main %}

<div class="main-banner">
	<div class="container">
		<div class="banner-content">
			<h4 class="banner_subtitle">первое агенство</h4>
			<h1 class="banner_title">Контекстной рекламы<br>в Казахстане</h1>
			<p class="banner_info">Более <strong>7 лет </strong><br>успешной работе на рынке</p>
			<p class="banner_info">Свыше <strong>1 500</strong><br> довольных клиентов</p>
			<a href="#" class="btn">связаться с нами</a>
		</div>
		<div class="banner-slider"></div>
	</div>
</div>

{% endblock %}