{% extends "partials/layout.njk" %}

{% block main %}

<div class="main-banner">
	<div class="container">
		<div class="banner-content">
			<h4 class="banner_subtitle">первое агенство</h4>
			<h1 class="banner_title">Контекстной рекламы<br>в Казахстане</h1>
			<p class="banner_info">Более <strong>7 лет </strong><br>успешной работе на рынке</p>
			<p class="banner_info">Свыше <strong>1 500</strong><br> довольных клиентов</p>
			<a href="#" class="btn btn-primary">связаться с нами</a>
		</div>
		<div class="banner-sliders">
			<div class="banner-sliders_item smartphone">
				<div class="slider_content">
					<div class="slider">
						<div class="slider_item">
							<img src="images/smartphone-slider-item.jpg">
						</div>
						<div class="slider_item">
							<img src="images/smartphone-slider-item.jpg">
						</div>
					</div>
				</div>
			</div>
			<div class="banner-sliders_item tablet">
				<div class="slider_content">
					<div class="slider">
						<div class="slider_item">
							<img src="images/tablet-slider-item.jpg">
						</div>
						<div class="slider_item">
							<img src="images/tablet-slider-item.jpg">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<section class="section">
	<div class="container">
		<h3 class="block-title">Популярные услуги</h3>
		<div class="main-services">
			<div class="mservice_item">
				<a href="#">
					<div class="mservice_item-image">
						<img src="images/main-service-item-1.jpg" alt="#">
					</div>
					<div class="mservice_item-title">
						<span class="yandex-name">Яндекс</span>. Директ
					</div>
				</a>
			</div>
			<div class="mservice_item">
				<a href="#">
					<div class="mservice_item-image">
						<img src="images/main-service-item-2.jpg" alt="#">
					</div>
					<div class="mservice_item-title">
						<span class="google-name">Google</span> AdWords
					</div>
				</a>
			</div>
			<div class="mservice_item">
				<a href="#">
					<div class="mservice_item-image">
						<img src="images/main-service-item-3.jpg" alt="#">
					</div>
					<div class="mservice_item-title">
						<span class="yandex-name">Яндекс</span>. Маркет
					</div>
				</a>
			</div>
			<div class="mservice_item">
				<a href="#">
					<div class="mservice_item-image">
						<img src="images/main-service-item-4.jpg" alt="#">
					</div>
					<div class="mservice_item-title">
						<span class="yandex-name">Яндекс</span>. МКБ
					</div>
				</a>
			</div>
		</div>
		<div class="section-bottom">
			<a href="#" class="btn">Посмотреть все услуги</a>
		</div>
	</div>
</section>

<section class="callback-section">
	<div class="container">
		<h3 class="callback-section_title">Оставить заявку сейчас</h3>
		<form class="callback-section_form">
			<div class="form-group">
				<div class="form-item">
					<input type="text" name="name" class="form-input" placeholder="Ваше имя">
				</div>
				<div class="form-item">
					<input type="text" name="name" class="form-input" placeholder="Контактный телефон">
				</div>
			</div>
			<button type="btn" class="btn">Оставить заявку</button>
		</form>
	</div>
</section>

<section class="section">
	<div class="container">
		<h3 class="block-title">Наши клиенты</h3>
		<div class="clients">
			<div class="clients-slider owl-carousel">
				<div class="client_item">
					<span><img src="images/client-item-1.jpg"></span>
				</div>
				<div class="client_item">
					<span><img src="images/client-item-2.jpg"></span>
				</div>
				<div class="client_item">
					<span><img src="images/client-item-3.jpg"></span>
				</div>
				<div class="client_item">
					<span><img src="images/client-item-1.jpg"></span>
				</div>
				<div class="client_item">
					<span><img src="images/client-item-2.jpg"></span>
				</div>
				<div class="client_item">
					<span><img src="images/client-item-3.jpg"></span>
				</div>
				<div class="client_item">
					<span><img src="images/client-item-2.jpg"></span>
				</div>
				<div class="client_item">
					<span><img src="images/client-item-3.jpg"></span>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="main-about">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<div class="text-block">
					<p class="corner-line">
						Продвижение сайта в поисковиках способствует повышению числа пользователей на вашем веб-ресурсе за счет тех людей, которые подыскивают определенные товары и услуги в интернете. Общее представление как бренда компании, так и ее интернет-ресурса играет немалую роль, поскольку на сегодняшний день известные компании львиную долю своего дохода получают именно благодаря продажам в сети. Зачастую начать собственный бизнес с нуля в интернете гораздо легче, нежели просто открыть розничный магазин, поскольку это не требует таких значительных затрат, как ремонт и аренда помещения и оборудования, зарплата большому количеству наемных работников и других. При этом, интернет-маркетинг, как и любая другая отрасль бизнеса, имеет свои специфические статьи затрат, одной из которых и являются затраты на продвижение сайта в интернете.
					</p>
					<h3>Многие отечественные компании уже успели оценить все достоинства работы с SEO-студией</h3>
					<p>
						и смогли повысить объем целевой аудитории и число конверсий. И именно комплекс мер, связанных с продвижением, поспособствовал этому. Ведь именно оптимизация, внутренняя (нацеленная на повышение качества работы сайта, улучшение его интерфейса и релевантности с точки зрения поисковых систем) и внешняя (популяризация сайта «белыми» методами SEO, а именно - привлечением естественной ссылочной массы), дают возможность «продвинуть» его в топовые позиции в поисковой выдаче.
					</p>
					<p>
						Студия Orange Point предлагает вам несколько новейших подходов для продвижения вашего интернет-ресурса. Ознакомиться с предоставляемыми услугами, сделать заказ на оптимизацию, бесплатный аудит, ведение контекстно-медийной кампании вы сможете на нашем сайте или в телефонном режиме. Будем рады сотрудничеству!
					</p>
				</div>
			</div>
			<div class="col-sm-6 hidden-xs">
				<img src="images/main-about-img.png" class="img-responsive" alt="#">
			</div>
		</div>
	</div>
</div>

{% endblock %}