{% extends "partials/layout.njk" %}

{% block main %}

<div class="page-top">
	<div class="container">
		<h1 class="page-title">Название проекта</h1>
		<div class="row">
			<div class="col-sm-6">
				<div class="portfolio-single-image">
					<img src="images/portfolio-single.jpg" class="img-responsive" alr="#">
				</div>
			</div>
			<div class="col-sm-6">
				<div class="text-block">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla lobortis quis magna a suscipit. Maecenas a diam et nunc placerat hendrerit eget ac neque. Vestibulum condimentum porttitor arcu, quis aliquam diam luctus vel. Curabitur blandit cursus orci, at molestie nunc pretium non. Pellentesque tincidunt eget nunc in ultricies. Maecenas vel hendrerit ex, sed ultricies massa. Duis rhoncus ex non commodo cursus.
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla lobortis quis magna a suscipit. Maecenas a diam et nunc placerat hendrerit eget ac neque. Vestibulum condimentum porttitor arcu, quis aliquam diam luctus vel. Curabitur blandit cursus orci, at molestie nunc pretium non. Pellentesque tincidunt eget nunc in ultricies. Maecenas vel hendrerit ex, sed ultricies massa. Duis rhoncus ex non commodo cursus.
					</p>
					<p>
						<a href="#" class="btn btn-default">Открыть сайт</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<div class="portfolio-single-detail">
				<h4>Задача</h4>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita architecto minus quos. A, aliquid impedit nam quae veritatis, nihil quasi quisquam eligendi dolores facere excepturi? Earum natus, vel a velit accusantium? Officia iure omnis vitae est maxime consequatur fuga, et rerum praesentium quibusdam. Commodi, magni. Vitae fugiat, suscipit quos placeat incidunt accusamus officia nostrum, vero, architecto, asperiores facilis mollitia cum.
				</p>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="portfolio-single-detail">
				<h4>Период</h4>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste debitis iure delectus consectetur aut pariatur adipisci nisi consequatur tempore ab dolorem fuga nihil quis illo magni inventore rerum, odit vel laudantium dolor repudiandae quos aspernatur. Numquam cum, neque, ea minus non animi doloribus amet et vel quasi, nostrum ipsam ullam vero voluptatum facere
				</p>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="portfolio-single-detail">
				<h4>Оказываемые услуги</h4>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam quis optio eveniet ex vel distinctio reiciendis, minima suscipit expedita hic ullam accusamus corporis est perspiciatis dolore cupiditate sed unde reprehenderit velit voluptas delectus ipsa cumque iusto, aperiam. Sint harum id veritatis maiores, et nam labore, sed voluptatibus perferendis eligendi dolores nihil autem doloribus eveniet expedita esse accusamus, asperiores voluptatum sunt!
				</p>
			</div>
		</div>
	</div>
</div>

<section class="section steps-section">
	<div class="container">
		<h3 class="block-title">Что было сделано</h3>
		<div class="steps-wrap">
			<div class="step_item">
				<div class="step_item-block">
					<h4 class="step_item-title">Шаг <span>01</span></h4>
					<div class="step_item-content">Настройка целей метрики в соотвествии с воронкой продаж</div>
				</div>
			</div>
			<div class="step_item">
				<div class="step_item-block">
					<h4 class="step_item-title">Шаг <span>01</span></h4>
					<div class="step_item-content">Настройка целей метрики в соотвествии с воронкой продаж</div>
				</div>
			</div>
			<div class="step_item">
				<div class="step_item-block">
					<h4 class="step_item-title">Шаг <span>01</span></h4>
					<div class="step_item-content">Настройка целей метрики в соотвествии с воронкой продаж</div>
				</div>
			</div>
			<div class="step_item">
				<div class="step_item-block">
					<h4 class="step_item-title">Шаг <span>01</span></h4>
					<div class="step_item-content">Настройка целей метрики в соотвествии с воронкой продаж</div>
				</div>
			</div>
			<div class="step_item">
				<div class="step_item-block">
					<h4 class="step_item-title">Шаг <span>01</span></h4>
					<div class="step_item-content">Настройка целей метрики в соотвествии с воронкой продаж</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="container">
		<h2 class="block-title">Результаты</h2>
		<div class="row">
			<div class="col-sm-6 col-sm-push-6">
				<div class="text-block">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla lobortis quis magna a suscipit. Maecenas a diam et nunc placerat hendrerit eget ac neque. Vestibulum condimentum porttitor arcu, quis aliquam diam luctus vel. Curabitur blandit cursus orci, at molestie nunc pretium non. Pellentesque tincidunt eget nunc in ultricies. Maecenas vel hendrerit ex, sed ultricies massa. Duis rhoncus ex non commodo cursus.
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla lobortis quis magna a suscipit. Maecenas a diam et nunc placerat hendrerit eget ac neque. Vestibulum condimentum porttitor arcu, quis aliquam diam luctus vel. Curabitur blandit cursus orci, at molestie nunc pretium non. Pellentesque tincidunt eget nunc in ultricies. Maecenas vel hendrerit ex, sed ultricies massa. Duis rhoncus ex non commodo cursus.
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla lobortis quis magna a suscipit. Maecenas a diam et nunc placerat hendrerit eget ac neque. Vestibulum condimentum porttitor arcu, quis aliquam.
					</p>
				</div>
			</div>
			<div class="col-sm-6 col-sm-pull-6">
				<img src="images/graph.png" class="img-responsive" alt="#">
			</div>
		</div>
	</div>
</section>

<section class="section section-colored">
	<div class="container">
		<h3 class="block-title">Другие кейсы</h3>
		<div class="portfolios-slider owl-carousel">
			<div class="portfolios-slider_item">
				<a href="#">
					<div class="pslider_item-title">
						КЕЙС №02
						<span>Название</span>
					</div>
				</a>
			</div>
			<div class="portfolios-slider_item">
				<a href="#">
					<div class="pslider_item-title">
						КЕЙС №02
						<span>Название</span>
					</div>
				</a>
			</div>
			<div class="portfolios-slider_item">
				<a href="#">
					<div class="pslider_item-title">
						КЕЙС №02
						<span>Название</span>
					</div>
				</a>
			</div>
			<div class="portfolios-slider_item">
				<a href="#">
					<div class="pslider_item-title">
						КЕЙС №02
						<span>Название</span>
					</div>
				</a>
			</div>
			<div class="portfolios-slider_item">
				<a href="#">
					<div class="pslider_item-title">
						КЕЙС №02
						<span>Название</span>
					</div>
				</a>
			</div>
			<div class="portfolios-slider_item">
				<a href="#">
					<div class="pslider_item-title">
						КЕЙС №02
						<span>Название</span>
					</div>
				</a>
			</div>
		</div>
		<div class="section-bottom">
			<a href="#" class="btn">Посмотреть все</a>
		</div>
	</div>
</section>

<section class="callback-section">
	<div class="container">
		<h3 class="callback-section_title">Оставить заявку сейчас</h3>
		<form class="callback-section_form">
			<div class="form-group">
				<div class="form-item">
					<input type="text" name="name" class="form-input" placeholder="Ваше имя">
				</div>
				<div class="form-item">
					<input type="text" name="name" class="form-input" placeholder="Контактный телефон">
				</div>
			</div>
			<button type="btn" class="btn">Оставить заявку</button>
		</form>
	</div>
</section>

{% endblock %}