{% extends "partials/layout.njk" %}

{% block main %}

<div class="page-top">
	<div class="container">
		<h1 class="page-title">SEO-продвижение сайта</h1>
		<div class="row">
			<div class="col-md-2 hidden-sm hidden-xs">
				<div class="icon-block">
					<img src="images/service-page-icon-1.svg" class="img-responsive" alt="#">
				</div>
			</div>
			<div class="col-md-6 col-lg-5">
				<div class="text-block">
					<p class="corner-line">
						Поисковое продвижение сайта – проверенный и по-настоящему действенный способ повысить эффективность Вашего бизнеса. Грамотно проведенная оптимизация сайта значительно повышает его позиции в выдаче Google и Яндекса, многократно увеличивает посещаемость. А рост целевого трафика приводит к росту продаж, приносит вам реальных клиентов и новые выгодные сделки.
					</p>
					<h3 class="no-line">
						Кроме того, благодаря поисковому продвижению сайта Ваша компания получит следующие преимущества:
					</h3>
					<ul class="no-dots">
						<li>повысит узнаваемость своего бренда;</li>
						<li>расширит присутствие на внешнем и внутреннем рынках;</li>
						<li>сможет эффективнее управлять репутацией в сети;</li>
						<li>повысит лояльность клиентов и доверие партнеров.</li>
					</ul>
					<p>
						Поисковая оптимизация приносит долгосрочные результаты и легко измеряется аналитическими инструментами.
					</p>
				</div>
			</div>
			<div class="col-lg-4 col-lg-offset-1 col-md-4 hidden-xs">
				<img src="images/service-page-img-1.png" class="img-responsive" alt="#">
			</div>
		</div>
	</div>
</div>

<div class="content-block">
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-md-offset-2">
				<h1 class="page-title">SEO-продвижение сайта в топ: основные этап</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2 hidden-sm hidden-xs">
				<div class="icon-block">
					<img src="images/service-page-icon-2.svg" class="img-responsive" alt="#">
				</div>
			</div>
			<div class="col-md-6 col-lg-5">
				<div class="text-block">
					<h3 class="simple-header color-primary">01.</h3>
					<p>
						Первичная настройка проекта. Выполняется до начала основных работ. На данном этапе seo-специалист подбирает семантическое ядро, проверяет, не находится ли сайт под санкциями поисковых систем, подключает и настраивает панели веб-мастеров Яндекса и Google и т.д.
					</p>
					<h3 class="simple-header">02.</h3>
					<p>
						Основные работы. Проводятся каждый месяц и включают в себя обширный комплекс мер – от аудита и написания текстового контента до исправления «битых» (неработающих) ссылок и мониторинга технических проблем на продвигаемых страницах.
					</p>
					<h3 class="simple-header color-primary">03.</h3>
					<p>
						Дополнительные работы (по предварительному согласованию с заказчиком). Выполняются после 6 месяцев сотрудничества либо до этого срока. Направлены на анализ коммерческих факторов, базовую проработку юзабилити сайтов и др.
					</p>
					<p>
						На каждом этапе продвижения сайта в интернете осуществляется мониторинг достигнутых позиций, а клиенту предоставляется подробная информация о проделанных работах.
					</p>
				</div>
			</div>
			<div class="col-lg-4 col-lg-offset-1 col-md-4 hidden-xs">
				<img src="images/service-page-img-2.png" class="img-responsive" alt="#">
			</div>
		</div>
	</div>
</div>
<div class="content-block">
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-md-offset-2">
				<h1 class="page-title">Предложение по пакетному продвижению сайта в интернете</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2 hidden-sm hidden-xs">
				<div class="icon-block">
					<img src="images/service-page-icon-3.svg" class="img-responsive" alt="#">
				</div>
			</div>
			<div class="col-md-6 col-lg-5">
				<div class="text-block">
					<p>
						Метод пакетного продвижения – один из самых удобных, понятных и выгодных для клиентов. Его суть заключается в выборе оптимальной стратегии с учетом количества страниц на сайте и числа запросов, по которым они продвигаются.
					</p>
					<p>
						Мы разработали для Вас несколько пакетных предложений для разных целей и бизнеса разного масштаба.
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10 col-md-offset-2">
				<div class="packages-wrap-responsive">
					<div class="packages-wrap">
						<div class="packages-settings">
							<div class="packages-settings_header">
								<span>Пакеты</span>
							</div>
							<div class="packages-settings_content">
								<ul>
									<li>Рекомендовано для сайтов</li>
									<li>Продвигаемых запросов</li>
									<li>Срок действия пакета (в месяцах)</li>
									<li>Написание текстов</li>
									<li>Размещение ссылок</li>
									<li>Технические доработки</li>
									<li>Дополнительные услуги (с 6-го месяца)</li>
								</ul>
							</div>
							<div class="packages-settings_bottom">Стоимость (в месяц)</div>
						</div>
						<div class="packages">
							<div class="package_item">
								<div class="package_item-block">
									<div class="package_item-header">
										<h4>МИНИМАЛЬНЫЙ</h4>
										<span>пакет услуг</span>
									</div>
									<div class="package_item-content">
										<ul>
											<li>до 250 страниц</li>
											<li>до 40</li>
											<li>6</li>
											<li>да</li>
											<li>да</li>
											<li>да</li>
											<li>нет</li>
										</ul>
									</div>
									<div class="package_item-bottom">180$</div>
								</div>
							</div>
							<div class="package_item">
								<div class="package_item-block">
									<div class="package_item-header">
										<h4>ОПТИМАЛЬНЫЙ</h4>
										<span>пакет услуг</span>
									</div>
									<div class="package_item-content">
										<ul>
											<li>до 1000 страниц</li>
											<li>до 40</li>
											<li>6</li>
											<li>да</li>
											<li>да</li>
											<li>да</li>
											<li>нет</li>
										</ul>
									</div>
									<div class="package_item-bottom">300$</div>
								</div>
							</div>
							<div class="package_item">
								<div class="package_item-block">
									<div class="package_item-header">
										<h4>ПРЕМИУМ</h4>
										<span>пакет услуг</span>
									</div>
									<div class="package_item-content">
										<ul>
											<li>от 1000 страниц</li>
											<li>до 40</li>
											<li>6</li>
											<li>да</li>
											<li>да</li>
											<li>да</li>
											<li>нет</li>
										</ul>
									</div>
									<div class="package_item-bottom">470$</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-lg-5 col-md-offset-2">
				<div class="text-block">
					<h3 class="no-line color-secondary">Рекомендации по выбору пакета</h3>
					<p>
						<strong>Пакет «Минимальный»</strong><br>предпочтительно для сайтов до 250 страниц.
					</p>
					<p>
						<strong>Пакет «Оптимальный»</strong><br>для средних проектов до 1 000 страниц.
					</p>
					<p>
						<strong>Пакет «Премиум»</strong><br>для средних и крупных сайтов от 1 000 страниц.
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2 hidden-sm hidden-xs">
				<div class="icon-block">
					<img src="images/service-page-icon-4.svg" class="img-responsive" alt="#">
				</div>
			</div>
			<div class="col-md-6 col-lg-5">
				<div class="text-block">
					<h3 class="no-line color-secondary">Почему это выгодно для Вас</h3>
					<p>
						SEO-продвижение вашего сайта обеспечит:
					</p>
					<ul>
						<li>поступательный рост позиций;</li>
						<li>увеличение видимости в Сети;</li>
						<li>улучшение навигации для пользователей;</li>
						<li>повышение целевых переходов;</li>
						<li>оптимизацию размещенного контента;</li>
						<li>рост реальных заказов;</li>
						<li>повышение продаж и прибыли компании.</li>
					</ul>
					<p>
						Мы твердо знаем: все вложения, связанные с SEO-продвижением сайта, обязательно окупаются! И чем раньше начаты работы по оптимизации, тем быстрее Вы получите контракты с новыми клиентами.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="content-block">
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-md-offset-2">
				<h1 class="page-title">Продвижение сайта в поисковых системах с компанией Orange Point Agency: основные преимущества</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2 hidden-sm hidden-xs">
				<div class="icon-block">
					<img src="images/service-page-icon-5.svg" class="img-responsive" alt="#">
				</div>
			</div>
			<div class="col-md-6 col-lg-5">
				<div class="text-block">
					<p>Наша компания гарантирует каждому клиенту:</p>
					<ul>
						<li>использование исключительно «белых» способов оптимизации; </li>
						<li>выполнение всех программных доработок (Вам не потребуется искать сторонних разработчиков или других исполнителей);</li>
						<li>четкое ежемесячное выполнение всего перечня утвержденных работ, которые предусмотрены в выбранном пакете; </li>
						<li>
							фиксированный процент выведения отобранных ключевых слов – от 50% (минимальное и максимальное количество слов определяется условиями конкретного пакета;
						</li>
						<li>персонального менеджера, готового ответить на любой возникший вопрос.</li>
					</ul>
					<p>
						Компания OrangePointAgency оказывает услуги в городе Алматы с 2009 года. У нас в штате работают одни из лучших специалистов в стране, которые несут персональную ответственность за каждый проект. И мы гордимся тем, что более 500 клиентов доверили нам заботу о своем бизнесе!
					</p>
				</div>
			</div>
			<div class="col-lg-4 col-lg-offset-1 col-md-4 hidden-xs">
				<img src="images/service-page-img-3.png" class="img-responsive" alt="#">
			</div>
		</div>
	</div>
</div>
<div class="content-block">
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-md-offset-2">
				<h1 class="page-title">Продвижение сайтов в Алматы или контекстная реклама: что лучше?</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-lg-5 col-md-offset-2">
				<div class="text-block">
					<p>
						К компаниям контекстной рекламы рекомендуется прибегать в том случае, когда необходимо резко увеличить продажи и получить максимально быстрый результат. Эффект от вложений в контекст виден практически сразу. Кроме того, данный инструмент отлично подходит молодым и одностраничным сайтам.
					</p>
					<p>SEO продвижение сайта в поисковых системах рекомендовано, если:</p>
					<ul>
						<li>Вы настроены на долгосрочное развитие ресурса и не ждете сиюминутной отдачи от вложенных средств;</li>
						<li>Вам важно повысить узнаваемость бренда, завоевать доверие потребителей, повысить их лояльность;</li>
						<li>Вы рассматриваете сайт как полноценный инструмент продаж и стремитесь постоянно его совершенствовать.</li>
					</ul>
					<p>
						Чтобы заказать продвижение сайта или получить наше коммерческое предложение, свяжитесь с менеджером компании удобным для Вас способом:
					</p>
					<p>
						• по телефону +7 (727) 267-75-90;<br>
						• по e-mail: kaz-media@yandex.kz;<br>
						• через форму обратной связи.
					</p>
					<p><i>Звоните или пишите, будем рады сотрудничать с Вами!</i></p>
				</div>
			</div>
			<div class="col-lg-4 col-lg-offset-1 col-md-4 hidden-xs">
				<img src="images/service-page-img-4.png" class="img-responsive" alt="#">
			</div>
		</div>
	</div>
</div>

<section class="callback-section">
	<div class="container">
		<h3 class="callback-section_title">Оставить заявку сейчас</h3>
		<form class="callback-section_form">
			<div class="form-group">
				<div class="form-item">
					<input type="text" name="name" class="form-input" placeholder="Ваше имя">
				</div>
				<div class="form-item">
					<input type="text" name="name" class="form-input" placeholder="Контактный телефон">
				</div>
			</div>
			<button type="btn" class="btn">Оставить заявку</button>
		</form>
	</div>
</section>

<section class="section">
	<div class="container">
		<h3 class="block-title">Наши кейсы</h3>
		<div class="portfolios-slider owl-carousel">
			<div class="portfolios-slider_item">
				<a href="#">
					<div class="pslider_item-title">
						КЕЙС №02
						<span>Название</span>
					</div>
				</a>
			</div>
			<div class="portfolios-slider_item">
				<a href="#">
					<div class="pslider_item-title">
						КЕЙС №02
						<span>Название</span>
					</div>
				</a>
			</div>
			<div class="portfolios-slider_item">
				<a href="#">
					<div class="pslider_item-title">
						КЕЙС №02
						<span>Название</span>
					</div>
				</a>
			</div>
			<div class="portfolios-slider_item">
				<a href="#">
					<div class="pslider_item-title">
						КЕЙС №02
						<span>Название</span>
					</div>
				</a>
			</div>
			<div class="portfolios-slider_item">
				<a href="#">
					<div class="pslider_item-title">
						КЕЙС №02
						<span>Название</span>
					</div>
				</a>
			</div>
			<div class="portfolios-slider_item">
				<a href="#">
					<div class="pslider_item-title">
						КЕЙС №02
						<span>Название</span>
					</div>
				</a>
			</div>
		</div>
		<div class="section-bottom">
			<a href="#" class="btn">Посмотреть все</a>
		</div>
	</div>
</section>

<section class="section section-colored">
	<div class="container">
		<h3 class="block-title">Сертификаты и награды</h3>
		<div class="sertificates-slider owl-carousel">
			<div class="sertificate_item">
				<a href="#" data-fancybox="serticates" data-src="#sertificate_item-content-1">
					<div class="sertificate_item-caption">
						<span>СЕРТИФИКАТ</span>
						<span>Название:</span>
						<span class="sertificate_item-name">ISO 9000 : 2000 2015 г.</span>
					</div>
				</a>
				<div class="sertificate_item-content" id="sertificate_item-content-1">
					<img src="images/sertficate-example.jpg" class="img-responsive">
				</div>
			</div>
			<div class="sertificate_item">
				<a href="#" data-fancybox="serticates" data-src="#sertificate_item-content-2">
					<div class="sertificate_item-caption">
						<span>СЕРТИФИКАТ</span>
						<span>Название:</span>
						<span class="sertificate_item-name">ISO 9000 : 2000 2015 г.</span>
					</div>
				</a>
				<div class="sertificate_item-content" id="sertificate_item-content-2">
					<img src="images/sertficate-example.jpg" class="img-responsive">
				</div>
			</div>
			<div class="sertificate_item">
				<a href="#" data-fancybox="serticates" data-src="#sertificate_item-content-3">
					<div class="sertificate_item-caption">
						<span>СЕРТИФИКАТ</span>
						<span>Название:</span>
						<span class="sertificate_item-name">ISO 9000 : 2000 2015 г.</span>
					</div>
				</a>
				<div class="sertificate_item-content" id="sertificate_item-content-3">
					<img src="images/sertficate-example.jpg" class="img-responsive">
				</div>
			</div>
			<div class="sertificate_item">
				<a href="#" data-fancybox="serticates" data-src="#sertificate_item-content-4">
					<div class="sertificate_item-caption">
						<span>СЕРТИФИКАТ</span>
						<span>Название:</span>
						<span class="sertificate_item-name">ISO 9000 : 2000 2015 г.</span>
					</div>
				</a>
				<div class="sertificate_item-content" id="sertificate_item-content-4">
					<img src="images/sertficate-example.jpg" class="img-responsive">
				</div>
			</div>
			<div class="sertificate_item">
				<a href="#" data-fancybox="serticates" data-src="#sertificate_item-content-5">
					<div class="sertificate_item-caption">
						<span>СЕРТИФИКАТ</span>
						<span>Название:</span>
						<span class="sertificate_item-name">ISO 9000 : 2000 2015 г.</span>
					</div>
				</a>
				<div class="sertificate_item-content" id="sertificate_item-content-5">
					<img src="images/sertficate-example.jpg" class="img-responsive">
				</div>
			</div>
			<div class="sertificate_item">
				<a href="#" data-fancybox="serticates" data-src="#sertificate_item-content-6">
					<div class="sertificate_item-caption">
						<span>СЕРТИФИКАТ</span>
						<span>Название:</span>
						<span class="sertificate_item-name">ISO 9000 : 2000 2015 г.</span>
					</div>
				</a>
				<div class="sertificate_item-content" id="sertificate_item-content-6">
					<img src="images/sertficate-example.jpg" class="img-responsive">
				</div>
			</div>
		</div>
		<div class="section-bottom"><a href="#" class="btn">Посмотреть все</a></div>
	</div>
</section>

<section class="section">
	<div class="container">
		<h3 class="block-title">Отзывы клиентов</h3>
		<div class="reviews-slider owl-carousel">
			<div class="review-slider_item">
				<div class="rwslider_item-block">
					<div class="rwslider_item-content">
						<p>
							Здравствуйте! Мы пользовались услугами копирайтеров этой службы и я низко кланяюсь всем тем кто участвовал в компании по развитию нашего портала... 
						</p>
						<a href="#">Показать оригинал отзыва</a>
					</div>
					<div class="rwslider_item-author">
						<div class="rwslider_item-icon"><img src="images/user-icon.svg" class="img-responsive"></div>
						<div class="rwslider_item-title">
							<h5>Hoffmann</h5>
							<span>10 / 22 / 2012</span>
						</div>
					</div>
				</div>
			</div>
			<div class="review-slider_item">
				<div class="rwslider_item-block">
					<div class="rwslider_item-content">
						<p>
							Здравствуйте! Мы пользовались услугами копирайтеров этой службы и я низко кланяюсь всем тем кто участвовал в компании по развитию нашего портала... 
						</p>
						<a href="#">Показать оригинал отзыва</a>
					</div>
					<div class="rwslider_item-author">
						<div class="rwslider_item-icon"><img src="images/user-icon.svg" class="img-responsive"></div>
						<div class="rwslider_item-title">
							<h5>Hoffmann</h5>
							<span>10 / 22 / 2012</span>
						</div>
					</div>
				</div>
			</div>
			<div class="review-slider_item">
				<div class="rwslider_item-block">
					<div class="rwslider_item-content">
						<p>
							Здравствуйте! Мы пользовались услугами копирайтеров этой службы и я низко кланяюсь всем тем кто участвовал в компании по развитию нашего портала... 
						</p>
						<a href="#">Показать оригинал отзыва</a>
					</div>
					<div class="rwslider_item-author">
						<div class="rwslider_item-icon"><img src="images/user-icon.svg" class="img-responsive"></div>
						<div class="rwslider_item-title">
							<h5>Hoffmann</h5>
							<span>10 / 22 / 2012</span>
						</div>
					</div>
				</div>
			</div>
			<div class="review-slider_item">
				<div class="rwslider_item-block">
					<div class="rwslider_item-content">
						<p>
							Здравствуйте! Мы пользовались услугами копирайтеров этой службы и я низко кланяюсь всем тем кто участвовал в компании по развитию нашего портала... 
						</p>
						<a href="#">Показать оригинал отзыва</a>
					</div>
					<div class="rwslider_item-author">
						<div class="rwslider_item-icon"><img src="images/user-icon.svg" class="img-responsive"></div>
						<div class="rwslider_item-title">
							<h5>Hoffmann</h5>
							<span>10 / 22 / 2012</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section-bottom">
			<a href="#" class="btn">Посмотреть все</a>
		</div>
	</div>
</section>

{% endblock %}