<footer>
	<div class="footer-main">		
		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-lg-push-7 col-md-5 col-md-push-7">
					<div class="footer-contacts">
						<h4 class="fcontacts-title">ORANGE POINT AGENCY</h4>
						<div class="fcontacts-wrap">
							<div class="fcontacts-block">
								<div class="c-info">
									<h4>АЛМАТЫ</h4>
									<p>35, Kurmangaliev St, Almaty, Казахстан</p>
								</div>
								<div class="c-info">
									<h4>ТЕЛЕФОНЫ:</h4>
									<p>
										+ 7 727 267 75 90<br>+ 7 727 239 04 82<br>+ 7 727 267 75 70
									</p>
								</div>
								<div class="c-info">
									<h4>EMAIL:</h4>
									<p>kaz-media@yandex.kz</p>
								</div>
							</div>
							<div class="fcontacts-block">
								<div class="c-info">
									<h4>АСТАНА</h4>
									<p>35, Kurmangaliev St, Almaty, Казахстан</p>
								</div>
								<div class="c-info">
									<h4>ТЕЛЕФОНЫ:</h4>
									<p>
										+ 7 7172 32 02 25<br>+ 7 701 729 37 87
									</p>
								</div>
								<div class="c-info">
									<h4>EMAIL:</h4>
									<p>kaz-media@yandex.kz</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-lg-pull-5 col-md-7 col-md-pull-5">
					<div class="footer-contacts">
						<h4 class="fcontacts-title">связаться с нами</h4>
						<div class="fcontacts-wrap">
							<form class="fcontacts-form">
								<div class="form-group">
									<div class="form-item required">
										<input type="text" name="name" placeholder="Имя" class="form-input">
									</div>
									<div class="form-item required">
										<input type="text" name="company" placeholder="Компания" class="form-input">
									</div>
								</div>
								<div class="form-group">
									<div class="form-item required">
										<input type="text" name="email" placeholder="Почта" class="form-input">
									</div>
									<div class="form-item">
										<input type="text" name="phone" placeholder="Телефон" class="form-input">
									</div>
								</div>
								<div class="form-group">
									<div class="form-item">
										<textarea type="text" name="message" placeholder="Сообщение" class="form-input"></textarea>
									</div>
								</div>
								<div class="form-group">
									<div class="form-item">
										<select class="form-input" name="subject">
											<option selected disabled="">Выбрать причину обращения</option>
											<option>Причина номер 1</option>
											<option>Причина номер 2</option>
										</select>
									</div>
									<div class="form-item">
										<input type="text" name="phone" class="form-input">
									</div>
								</div>
								<div class="form-group">
									<button class="btn" type="submit">Отправить заявку</button>
								</div>
								<div class="form-group">
									<span>* Укажите в сообщении номер вашей компании</span>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-2">
					<div class="copyright">&copy; 1999–2017 Orange Point Agency</div>
				</div>
				<div class="col-lg-5 col-md-5">
					<nav class="footer-nav">
						<ul>
							<li><a href="#">О компании</a></li>
							<li><a href="#">Услуги</a></li>
							<li><a href="#">Личный кабинет</a></li>
							<li><a href="#">Портфолио</a></li>
							<li><a href="#">Отзывы</a></li>
							<li><a href="#">Блог</a></li>
							<li><a href="#">Вакансии</a></li>
							<li><a href="#">Контакты</a></li>
						</ul>
					</nav>
				</div>
				<div class="col-lg-3 col-md-3">
					<div class="payments">
						<div class="payment_item paybox"></div>
						<div class="payment_item visa"></div>
						<div class="payment_item mastercard"></div>
					</div>
				</div>
				<div class="col-lg-1 col-md-2">
					<div class="support">
						<a href="#"><img src="images/jackrobinson-logo.png" class="img-responsive" alt="JackRobinson"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>